
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    color: gray;
    font-family: Helvetica, Arial, sans-serif;
}
header {
  padding: 10px 15px 20px 25px;
  background-color: #0d2938;
  display: flex;
  justify-content: space-between;
  top: 0;
  text-decoration: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: gray;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex: 1;
}

header nav ul li a {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 15px 15px;
  font-size: 30px;
  display: inline-block;
}

.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: 100%;
  background-attachment: fixed;
  justify-content:flex-end;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex: 1;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 15
}

.hero h2 {
  padding: 40px 5px 10px 0;
}
.container {
  display: flex;
  color: gray;
  flex-wrap: wrap;
  align-items: right;
}

/* .about {
  align-items: start;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 10px;
} */

.info {
  align-items: start;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.section-title {
  color: gray;
  padding: 0 10px 0 50px;
  font-size:48px;
  text-align: right;
  flex: 1;
}

.about-text {
  padding: 0 50px 0 50px;
  border-left: 3px solid black;
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.projects{
  padding: 0 50px 0 50px;
  border-left: 3px solid black;
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project img {
  max-width: 300px;
  flex: 1 50%;
  margin: 0 10px 0 10px;
}
.project-name{
  width: 100%;
  position: absolute;

}
.project-name h3{
  color:black;
  text-align:left;
  margin-left: 15px;
  
}
.contact-info li {
  display: inline;
  font-size: 25px;
  border-bottom: 3px solid black;
  margin: 75px 25px 75px 25px;
  padding: 10px;
}

.contact-info li a {
  text-decoration: none;
}

footer {
  background: #0d2938;
  width: 100%;
  padding: 10px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  color: gray;
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  .section-title {
    font-size: 12px;
  }
  .contact-info li {
    display: block;
    font-size: 15px;
    border-bottom: 3px solid black;
    margin: 75px 0 75px 0;
    padding: 10px;
  }
  header h1 {
    width: 50%;
    font-size: 20px;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 15px;
  }

  footer h2 {
    text-align: center;
    width: 100%;
  }

  .section-title {
    color: gray;
    padding: 0 10px 0 10px;
    font-size:12px;
    text-align: right;
    flex: 1;
  }

  .project img {
    max-width: 200px;
    flex: 1 50%;
    margin: 0 10px 0 10px;
  }

  .info {
    width: 100%;
  }
  
}